<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href="../static/index.css">
    <title>EVASTORE File Conversion</title>
</head>
<body>
    <div class = "header">
        <h1> EvaStore </h1>
        
    </div>
    
    <!--
    <form class = "grid" action = "/output" method = "POST"> -->
    <form class = "grid" action = "/output" method = "POST" 
        enctype="multipart/form-data">
        
        <centre>
            <label for = "File"><b>Please select the file to be converted: </b> </label>
            <input class = "input" type="file" name = "name_f" id="name_f">
            <p>

                <centre><input type = "Submit" class = "file_submit"></centre>
            </p>
        </centre>
        


    </form>
</body>
</html>